.expense-list-heading{
    font-size: 29px;
    font-weight: 700;
    font-style: italic;
    color: #FFFFFF;
  }
  .expenses-list{
    max-width: 738px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 4px #000000;
    height: 345px;
    padding:26px;
  }
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.list-item-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.item-sub-content{
    display: flex;
    flex-direction: column;
}
.expense-type{
    width: 35px;
    height: 35px;
}
.expense-title{
    font-size: 16px;
    font-weight: 400;
}
.expense-date{
    color: #9B9B9B;
}
.list-price-btns{
    display: flex;
    align-items: center;
    gap: 25px;
}
.expense-price{

    font-size: 16px;
    font-weight: 700;
    color: #F4BB4A;
}
.list-btns{
    display: flex;
    align-items: center;
}
.pagination{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.navigate-btn{
    width: 32px;
    height: 35px;
    border-radius: 15px;
    background-color: #eae1e1;
    position: relative;
    border: none;
}
.navigate-position{
    position: absolute;
    top: 12px;
    left: 9px;
}